@model List<LibaryManagment.Models.LibrarianModel>
@using Microsoft.AspNetCore.Mvc.Localization
@using LibaryManagment
@inject IHtmlLocalizer<SharedResource> Localizer

@{
    ViewData["Title"] = Localizer["Librarian_Index_Title"];
}

@if (User.IsInRole("admin"))
{
    <a class="btn btn-primary mt-3 ms-2" href="/Librarian/Create">@Localizer["Librarian_Index_Btn_Add"]</a>
}

<table class="table table-bordered mt-3">
    <thead>
    <tr>
        @if (User.IsInRole("admin"))
        {
            <th>@Localizer["Librarian_Table_Header_Id"]</th>
        }
        <th>@Localizer["Librarian_Table_Header_Name"]</th>
        <th>@Localizer["Librarian_Table_Header_Age"]</th>
        <th>@Localizer["Librarian_Table_Header_Phone"]</th>
        @if (User.IsInRole("admin"))
        {
            <th>@Localizer["Librarian_Table_Header_Actions"]</th>
        }
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            @if (User.IsInRole("admin"))
            {
                <td>@item.LibrarianId</td>
            }
            <td>@item.Name</td>
            <td>@item.Age</td>
            <td>@item.Phone</td>
            @if (User.IsInRole("admin"))
            {
                <td>
                    <a class="btn btn-warning btn-sm" href="/Librarian/Edit/@item.LibrarianId">@Localizer["Global_Btn_Edit"]</a>
                    <a class="btn btn-danger btn-sm" href="/Librarian/Delete/@item.LibrarianId" onclick="return confirm('@Localizer["Global_Confirm_Delete"]')">@Localizer["Global_Btn_Delete"]</a>
                </td>
            }
        </tr>
    }
    </tbody>
</table>